<% layout('/layouts/boilerplates') %>

<div>
<% if(!currentUser){ %> 
   
        <a class="btn btn-primary" 
         href="/register">Register </a>
         <p>

            
         </p>
         <p>
        <a class="btn btn-primary" 
        href="/login">Login </a>
    </p>

    <% }else{ %> 
    
        <a class="btn btn-primary" 
        href="/logout">Logout </a>
    
  <% } %> 

</div>

