<% layout('/layouts/boilerplates') %>
<P>  RENT THIS SHOW TO WATCH IT ON BELOW GIVEN PLATFORMS</P>
<form action="/movies/:_id/bookings/:timeSlot/payment" method="POST"> 
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="<%= key %>" 
		data-amount="5000" 
		data-currency="inr" 
		data-name="RENT SHOW" 
		data-description="Buy" 
		data-locale="auto" > 
		</script> 
	</form> 
 