<%- include('./layouts/boilerplates') %> 


    
        <h5 class="card-title"><%=mov.Title%> </h5>
        <p class="card-text"><%=mov.details%> </p>
       
     
<a class="button" href="/<%=mov._id%>/bookings"> Book SEATS</a>

<a class="button" href="/">Back</a>