<%- layout('/layouts/boilerplates') %> 



    
    <a class="btn btn-primary btn-lg" 
    href="/movies">Back</a>
<style>
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}



a {
text-decoration: none;
color: #000;
}

.btn-primary{
display:inline-block;

padding:0.5%;
margin:2%;
position:relative;
top:-3%;
bottom:30%;
left:40%;
background-color:rgb(73, 82, 163);

}

body {
font-family:Helvetica,Arial,sans-serif;
background-color:rgb(48, 49, 47);

}
</style>